



<style type="text/css">
    body {
        background-image: url(../../images/1366x768-data_out_170_68768490-school-wallpapers.jpg)
    }
    .container{
        margin-top:100px;
    }

    #form {
        background-color: grey;
        min-height: 150px;
        padding: 5px 40px 40px 40px;
    }

    #btn {
        margin-top: 5px;
    }

    .adddepartment {
        font-size: 55px;
        font-family: Agency FB;
        font-weight: 500;
        border-bottom-style: ridge;
        margin-left: 200px;
    }

    #text {
        font-size: 700px;
    }

    #design {
        margin-top:20px;
        margin-left:30px;
    }

    .btn-primary {
        border-radius: 0px;
        padding: 10px;
        width: 28%;
    }

    .btn-danger {
        border-radius: 0px;
        padding: 10px;
        width: 28%;
    }
</style>

<head>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>Admin LogIn</title>
    <meta charset="utf-8">
    <link href="~/Content/Adminstyle.css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--webfonts-->
    
    

</head>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form">
            <b class="adddepartment">Admin</b>
            <form method="post">
                <div id="design">
                    <div class="form-group">

                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" class="form-control  " name="uname" required />
                    </div>
                    <div class="form-group">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" class="form-control" name="psw" required />
                    </div>
                    <div class="form-group" id="btn">
                        <button type="submit" class="btn btn-group-lg ">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                                 

